/**
 * translation anime image uv
 */
img.animTranslateUV{
	/*IE*/
	-ms-animation-name: animTranslateUV;
	-ms-animation-delay: 0s;
	-ms-animation-duration: 3300ms;
	-ms-animation-timing-function: step-end;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction : normal;
	/*gecko*/
	-moz-animation-name: animTranslateUV;
	-moz-animation-delay: 0s;
	-moz-animation-duration: 3300ms;
	-moz-animation-timing-function: step-end;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction : normal;
	/*webkit*/
	-webkit-animation-name: animTranslateUV;
	-webkit-animation-delay: 0s;
	-webkit-animation-duration: 3300ms;
	-webkit-animation-timing-function: step-end;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction : normal;
	/*opera*/
	-o-animation-name: animTranslateUV;
	-o-animation-delay: 0s;
	-o-animation-duration: 3300ms;
	-o-animation-timing-function: step-end;
	-o-animation-iteration-count: infinite;
	-o-animation-direction : normal;
}
@-ms-keyframes animTranslateUV{
	  0% {-ms-transform:translate3d(   0px,     0px,0);}
	  1% {-ms-transform:translate3d(   0px,     0px,0);}
	  2% {-ms-transform:translate3d(  -16px,    0px,0);}
	  3% {-ms-transform:translate3d(  -32px,    0px,0);}
	  4% {-ms-transform:translate3d(  -48px,    0px,0);}
	  5% {-ms-transform:translate3d(  -64px,    0px,0);}
	  6% {-ms-transform:translate3d(  -80px,    0px,0);}
	  7% {-ms-transform:translate3d(  -96px,    0px,0);}
	  8% {-ms-transform:translate3d( -112px,    0px,0);}
	  9% {-ms-transform:translate3d( -128px,    0px,0);}
	 10% {-ms-transform:translate3d( -144x,     0px,0);}
	 11% {-ms-transform:translate3d(   0px,   -12px,0);}
	 12% {-ms-transform:translate3d(  -16px,  -12px,0);}
	 13% {-ms-transform:translate3d(  -32px,  -12px,0);}
	 14% {-ms-transform:translate3d(  -48px,  -12px,0);}
	 15% {-ms-transform:translate3d(  -64px,  -12px,0);}
	 16% {-ms-transform:translate3d(  -80px,  -12px,0);}
	 17% {-ms-transform:translate3d(  -96px,  -12px,0);}
	 18% {-ms-transform:translate3d( -112px,  -12px,0);}
	 19% {-ms-transform:translate3d( -128px,  -12px,0);}
	 20% {-ms-transform:translate3d( -144x,   -12px,0);}
	 21% {-ms-transform:translate3d(   0px,   -24px,0);}
	 22% {-ms-transform:translate3d(  -16px,  -24px,0);}
	 23% {-ms-transform:translate3d(  -32px,  -24px,0);}
	 24% {-ms-transform:translate3d(  -48px,  -24px,0);}
	 25% {-ms-transform:translate3d(  -64px,  -24px,0);}
	 26% {-ms-transform:translate3d(  -80px,  -24px,0);}
	 27% {-ms-transform:translate3d(  -96px,  -24px,0);}
	 28% {-ms-transform:translate3d( -112px,  -24px,0);}
	 29% {-ms-transform:translate3d( -128px,  -24px,0);}
	 30% {-ms-transform:translate3d( -144x,   -24px,0);}
	 31% {-ms-transform:translate3d(   0px,   -36px,0);}
	 32% {-ms-transform:translate3d(  -16px,  -36px,0);}
	 33% {-ms-transform:translate3d(  -32px,  -36px,0);}
	 34% {-ms-transform:translate3d(  -48px,  -36px,0);}
	 35% {-ms-transform:translate3d(  -64px,  -36px,0);}
	 36% {-ms-transform:translate3d(  -80px,  -36px,0);}
	 37% {-ms-transform:translate3d(  -96px,  -36px,0);}
	 38% {-ms-transform:translate3d( -112px,  -36px,0);}
	 39% {-ms-transform:translate3d( -128px,  -36px,0);}
	 40% {-ms-transform:translate3d( -144x,   -36px,0);}
	 41% {-ms-transform:translate3d(   0px,   -48px,0);}
	 42% {-ms-transform:translate3d(  -16px,  -48px,0);}
	 43% {-ms-transform:translate3d(  -32px,  -48px,0);}
	 44% {-ms-transform:translate3d(  -48px,  -48px,0);}
	 45% {-ms-transform:translate3d(  -64px,  -48px,0);}
	 46% {-ms-transform:translate3d(  -80px,  -48px,0);}
	 47% {-ms-transform:translate3d(  -96px,  -48px,0);}
	 48% {-ms-transform:translate3d( -112px,  -48px,0);}
	 49% {-ms-transform:translate3d( -128px,  -48px,0);}
	 50% {-ms-transform:translate3d( -144x,   -48px,0);}
	 51% {-ms-transform:translate3d(   0px,   -60px,0);}
	 52% {-ms-transform:translate3d(  -16px,  -60px,0);}
	 53% {-ms-transform:translate3d(  -32px,  -60px,0);}
	 54% {-ms-transform:translate3d(  -48px,  -60px,0);}
	 55% {-ms-transform:translate3d(  -64px,  -60px,0);}
	 56% {-ms-transform:translate3d(  -80px,  -60px,0);}
	 57% {-ms-transform:translate3d(  -96px,  -60px,0);}
	 58% {-ms-transform:translate3d( -112px,  -60px,0);}
	 59% {-ms-transform:translate3d( -128px,  -60px,0);}
	 60% {-ms-transform:translate3d( -144x,   -60px,0);}
	 61% {-ms-transform:translate3d(   0px,   -72px,0);}
	 62% {-ms-transform:translate3d(  -16px,  -72px,0);}
	 63% {-ms-transform:translate3d(  -32px,  -72px,0);}
	 64% {-ms-transform:translate3d(  -48px,  -72px,0);}
	 65% {-ms-transform:translate3d(  -64px,  -72px,0);}
	 66% {-ms-transform:translate3d(  -80px,  -72px,0);}
	 67% {-ms-transform:translate3d(  -96px,  -72px,0);}
	 68% {-ms-transform:translate3d( -112px,  -72px,0);}
	 69% {-ms-transform:translate3d( -128px,  -72px,0);}
	 70% {-ms-transform:translate3d( -144x,   -72px,0);}
	 71% {-ms-transform:translate3d(   0px,   -84px,0);}
	 72% {-ms-transform:translate3d(  -16px,  -84px,0);}
	 73% {-ms-transform:translate3d(  -32px,  -84px,0);}
	 74% {-ms-transform:translate3d(  -48px,  -84px,0);}
	 75% {-ms-transform:translate3d(  -64px,  -84px,0);}
	 76% {-ms-transform:translate3d(  -80px,  -84px,0);}
	 77% {-ms-transform:translate3d(  -96px,  -84px,0);}
	 78% {-ms-transform:translate3d( -112px,  -84px,0);}
	 79% {-ms-transform:translate3d( -128px,  -84px,0);}
	 80% {-ms-transform:translate3d( -144x,   -84px,0);}
	 81% {-ms-transform:translate3d(   0px,   -96px,0);}
	 82% {-ms-transform:translate3d(  -16px,  -96px,0);}
	 83% {-ms-transform:translate3d(  -32px,  -96px,0);}
	 84% {-ms-transform:translate3d(  -48px,  -96px,0);}
	 85% {-ms-transform:translate3d(  -64px,  -96px,0);}
	 86% {-ms-transform:translate3d(  -80px,  -96px,0);}
	 87% {-ms-transform:translate3d(  -96px,  -96px,0);}
	 88% {-ms-transform:translate3d( -112px,  -96px,0);}
	 89% {-ms-transform:translate3d( -128px,  -96px,0);}
	 90% {-ms-transform:translate3d( -144x,   -96px,0);}
	 91% {-ms-transform:translate3d(   0px,  -108px,0);}
	 92% {-ms-transform:translate3d(  -16px, -108px,0);}
	 93% {-ms-transform:translate3d(  -32px, -108px,0);}
	 94% {-ms-transform:translate3d(  -48px, -108px,0);}
	 95% {-ms-transform:translate3d(  -64px, -108px,0);}
	 96% {-ms-transform:translate3d(  -80px, -108px,0);}
	 97% {-ms-transform:translate3d(  -96px, -108px,0);}
	 98% {-ms-transform:translate3d( -112px, -108px,0);}
	 99% {-ms-transform:translate3d( -128px, -108px,0);}
	100% {-ms-transform:translate3d( -144x,  -108px,0);}
}
@-moz-keyframes animTranslateUV{
	  0% {-moz-transform:translate3d(   0px,     0px,0);}
	  1% {-moz-transform:translate3d(   0px,     0px,0);}
	  2% {-moz-transform:translate3d(  -16px,    0px,0);}
	  3% {-moz-transform:translate3d(  -32px,    0px,0);}
	  4% {-moz-transform:translate3d(  -48px,    0px,0);}
	  5% {-moz-transform:translate3d(  -64px,    0px,0);}
	  6% {-moz-transform:translate3d(  -80px,    0px,0);}
	  7% {-moz-transform:translate3d(  -96px,    0px,0);}
	  8% {-moz-transform:translate3d( -112px,    0px,0);}
	  9% {-moz-transform:translate3d( -128px,    0px,0);}
	 10% {-moz-transform:translate3d( -144x,     0px,0);}
	 11% {-moz-transform:translate3d(   0px,   -12px,0);}
	 12% {-moz-transform:translate3d(  -16px,  -12px,0);}
	 13% {-moz-transform:translate3d(  -32px,  -12px,0);}
	 14% {-moz-transform:translate3d(  -48px,  -12px,0);}
	 15% {-moz-transform:translate3d(  -64px,  -12px,0);}
	 16% {-moz-transform:translate3d(  -80px,  -12px,0);}
	 17% {-moz-transform:translate3d(  -96px,  -12px,0);}
	 18% {-moz-transform:translate3d( -112px,  -12px,0);}
	 19% {-moz-transform:translate3d( -128px,  -12px,0);}
	 20% {-moz-transform:translate3d( -144x,   -12px,0);}
	 21% {-moz-transform:translate3d(   0px,   -24px,0);}
	 22% {-moz-transform:translate3d(  -16px,  -24px,0);}
	 23% {-moz-transform:translate3d(  -32px,  -24px,0);}
	 24% {-moz-transform:translate3d(  -48px,  -24px,0);}
	 25% {-moz-transform:translate3d(  -64px,  -24px,0);}
	 26% {-moz-transform:translate3d(  -80px,  -24px,0);}
	 27% {-moz-transform:translate3d(  -96px,  -24px,0);}
	 28% {-moz-transform:translate3d( -112px,  -24px,0);}
	 29% {-moz-transform:translate3d( -128px,  -24px,0);}
	 30% {-moz-transform:translate3d( -144x,   -24px,0);}
	 31% {-moz-transform:translate3d(   0px,   -36px,0);}
	 32% {-moz-transform:translate3d(  -16px,  -36px,0);}
	 33% {-moz-transform:translate3d(  -32px,  -36px,0);}
	 34% {-moz-transform:translate3d(  -48px,  -36px,0);}
	 35% {-moz-transform:translate3d(  -64px,  -36px,0);}
	 36% {-moz-transform:translate3d(  -80px,  -36px,0);}
	 37% {-moz-transform:translate3d(  -96px,  -36px,0);}
	 38% {-moz-transform:translate3d( -112px,  -36px,0);}
	 39% {-moz-transform:translate3d( -128px,  -36px,0);}
	 40% {-moz-transform:translate3d( -144x,   -36px,0);}
	 41% {-moz-transform:translate3d(   0px,   -48px,0);}
	 42% {-moz-transform:translate3d(  -16px,  -48px,0);}
	 43% {-moz-transform:translate3d(  -32px,  -48px,0);}
	 44% {-moz-transform:translate3d(  -48px,  -48px,0);}
	 45% {-moz-transform:translate3d(  -64px,  -48px,0);}
	 46% {-moz-transform:translate3d(  -80px,  -48px,0);}
	 47% {-moz-transform:translate3d(  -96px,  -48px,0);}
	 48% {-moz-transform:translate3d( -112px,  -48px,0);}
	 49% {-moz-transform:translate3d( -128px,  -48px,0);}
	 50% {-moz-transform:translate3d( -144x,   -48px,0);}
	 51% {-moz-transform:translate3d(   0px,   -60px,0);}
	 52% {-moz-transform:translate3d(  -16px,  -60px,0);}
	 53% {-moz-transform:translate3d(  -32px,  -60px,0);}
	 54% {-moz-transform:translate3d(  -48px,  -60px,0);}
	 55% {-moz-transform:translate3d(  -64px,  -60px,0);}
	 56% {-moz-transform:translate3d(  -80px,  -60px,0);}
	 57% {-moz-transform:translate3d(  -96px,  -60px,0);}
	 58% {-moz-transform:translate3d( -112px,  -60px,0);}
	 59% {-moz-transform:translate3d( -128px,  -60px,0);}
	 60% {-moz-transform:translate3d( -144x,   -60px,0);}
	 61% {-moz-transform:translate3d(   0px,   -72px,0);}
	 62% {-moz-transform:translate3d(  -16px,  -72px,0);}
	 63% {-moz-transform:translate3d(  -32px,  -72px,0);}
	 64% {-moz-transform:translate3d(  -48px,  -72px,0);}
	 65% {-moz-transform:translate3d(  -64px,  -72px,0);}
	 66% {-moz-transform:translate3d(  -80px,  -72px,0);}
	 67% {-moz-transform:translate3d(  -96px,  -72px,0);}
	 68% {-moz-transform:translate3d( -112px,  -72px,0);}
	 69% {-moz-transform:translate3d( -128px,  -72px,0);}
	 70% {-moz-transform:translate3d( -144x,   -72px,0);}
	 71% {-moz-transform:translate3d(   0px,   -84px,0);}
	 72% {-moz-transform:translate3d(  -16px,  -84px,0);}
	 73% {-moz-transform:translate3d(  -32px,  -84px,0);}
	 74% {-moz-transform:translate3d(  -48px,  -84px,0);}
	 75% {-moz-transform:translate3d(  -64px,  -84px,0);}
	 76% {-moz-transform:translate3d(  -80px,  -84px,0);}
	 77% {-moz-transform:translate3d(  -96px,  -84px,0);}
	 78% {-moz-transform:translate3d( -112px,  -84px,0);}
	 79% {-moz-transform:translate3d( -128px,  -84px,0);}
	 80% {-moz-transform:translate3d( -144x,   -84px,0);}
	 81% {-moz-transform:translate3d(   0px,   -96px,0);}
	 82% {-moz-transform:translate3d(  -16px,  -96px,0);}
	 83% {-moz-transform:translate3d(  -32px,  -96px,0);}
	 84% {-moz-transform:translate3d(  -48px,  -96px,0);}
	 85% {-moz-transform:translate3d(  -64px,  -96px,0);}
	 86% {-moz-transform:translate3d(  -80px,  -96px,0);}
	 87% {-moz-transform:translate3d(  -96px,  -96px,0);}
	 88% {-moz-transform:translate3d( -112px,  -96px,0);}
	 89% {-moz-transform:translate3d( -128px,  -96px,0);}
	 90% {-moz-transform:translate3d( -144x,   -96px,0);}
	 91% {-moz-transform:translate3d(   0px,  -108px,0);}
	 92% {-moz-transform:translate3d(  -16px, -108px,0);}
	 93% {-moz-transform:translate3d(  -32px, -108px,0);}
	 94% {-moz-transform:translate3d(  -48px, -108px,0);}
	 95% {-moz-transform:translate3d(  -64px, -108px,0);}
	 96% {-moz-transform:translate3d(  -80px, -108px,0);}
	 97% {-moz-transform:translate3d(  -96px, -108px,0);}
	 98% {-moz-transform:translate3d( -112px, -108px,0);}
	 99% {-moz-transform:translate3d( -128px, -108px,0);}
	100% {-moz-transform:translate3d( -144x,  -108px,0);}
}
@-webkit-keyframes animTranslateUV{
	  0% {-webkit-transform:translate3d(   0px,     0px,0);}
	  1% {-webkit-transform:translate3d(   0px,     0px,0);}
	  2% {-webkit-transform:translate3d(  -16px,    0px,0);}
	  3% {-webkit-transform:translate3d(  -32px,    0px,0);}
	  4% {-webkit-transform:translate3d(  -48px,    0px,0);}
	  5% {-webkit-transform:translate3d(  -64px,    0px,0);}
	  6% {-webkit-transform:translate3d(  -80px,    0px,0);}
	  7% {-webkit-transform:translate3d(  -96px,    0px,0);}
	  8% {-webkit-transform:translate3d( -112px,    0px,0);}
	  9% {-webkit-transform:translate3d( -128px,    0px,0);}
	 10% {-webkit-transform:translate3d( -144x,     0px,0);}
	 11% {-webkit-transform:translate3d(   0px,   -12px,0);}
	 12% {-webkit-transform:translate3d(  -16px,  -12px,0);}
	 13% {-webkit-transform:translate3d(  -32px,  -12px,0);}
	 14% {-webkit-transform:translate3d(  -48px,  -12px,0);}
	 15% {-webkit-transform:translate3d(  -64px,  -12px,0);}
	 16% {-webkit-transform:translate3d(  -80px,  -12px,0);}
	 17% {-webkit-transform:translate3d(  -96px,  -12px,0);}
	 18% {-webkit-transform:translate3d( -112px,  -12px,0);}
	 19% {-webkit-transform:translate3d( -128px,  -12px,0);}
	 20% {-webkit-transform:translate3d( -144x,   -12px,0);}
	 21% {-webkit-transform:translate3d(   0px,   -24px,0);}
	 22% {-webkit-transform:translate3d(  -16px,  -24px,0);}
	 23% {-webkit-transform:translate3d(  -32px,  -24px,0);}
	 24% {-webkit-transform:translate3d(  -48px,  -24px,0);}
	 25% {-webkit-transform:translate3d(  -64px,  -24px,0);}
	 26% {-webkit-transform:translate3d(  -80px,  -24px,0);}
	 27% {-webkit-transform:translate3d(  -96px,  -24px,0);}
	 28% {-webkit-transform:translate3d( -112px,  -24px,0);}
	 29% {-webkit-transform:translate3d( -128px,  -24px,0);}
	 30% {-webkit-transform:translate3d( -144x,   -24px,0);}
	 31% {-webkit-transform:translate3d(   0px,   -36px,0);}
	 32% {-webkit-transform:translate3d(  -16px,  -36px,0);}
	 33% {-webkit-transform:translate3d(  -32px,  -36px,0);}
	 34% {-webkit-transform:translate3d(  -48px,  -36px,0);}
	 35% {-webkit-transform:translate3d(  -64px,  -36px,0);}
	 36% {-webkit-transform:translate3d(  -80px,  -36px,0);}
	 37% {-webkit-transform:translate3d(  -96px,  -36px,0);}
	 38% {-webkit-transform:translate3d( -112px,  -36px,0);}
	 39% {-webkit-transform:translate3d( -128px,  -36px,0);}
	 40% {-webkit-transform:translate3d( -144x,   -36px,0);}
	 41% {-webkit-transform:translate3d(   0px,   -48px,0);}
	 42% {-webkit-transform:translate3d(  -16px,  -48px,0);}
	 43% {-webkit-transform:translate3d(  -32px,  -48px,0);}
	 44% {-webkit-transform:translate3d(  -48px,  -48px,0);}
	 45% {-webkit-transform:translate3d(  -64px,  -48px,0);}
	 46% {-webkit-transform:translate3d(  -80px,  -48px,0);}
	 47% {-webkit-transform:translate3d(  -96px,  -48px,0);}
	 48% {-webkit-transform:translate3d( -112px,  -48px,0);}
	 49% {-webkit-transform:translate3d( -128px,  -48px,0);}
	 50% {-webkit-transform:translate3d( -144x,   -48px,0);}
	 51% {-webkit-transform:translate3d(   0px,   -60px,0);}
	 52% {-webkit-transform:translate3d(  -16px,  -60px,0);}
	 53% {-webkit-transform:translate3d(  -32px,  -60px,0);}
	 54% {-webkit-transform:translate3d(  -48px,  -60px,0);}
	 55% {-webkit-transform:translate3d(  -64px,  -60px,0);}
	 56% {-webkit-transform:translate3d(  -80px,  -60px,0);}
	 57% {-webkit-transform:translate3d(  -96px,  -60px,0);}
	 58% {-webkit-transform:translate3d( -112px,  -60px,0);}
	 59% {-webkit-transform:translate3d( -128px,  -60px,0);}
	 60% {-webkit-transform:translate3d( -144x,   -60px,0);}
	 61% {-webkit-transform:translate3d(   0px,   -72px,0);}
	 62% {-webkit-transform:translate3d(  -16px,  -72px,0);}
	 63% {-webkit-transform:translate3d(  -32px,  -72px,0);}
	 64% {-webkit-transform:translate3d(  -48px,  -72px,0);}
	 65% {-webkit-transform:translate3d(  -64px,  -72px,0);}
	 66% {-webkit-transform:translate3d(  -80px,  -72px,0);}
	 67% {-webkit-transform:translate3d(  -96px,  -72px,0);}
	 68% {-webkit-transform:translate3d( -112px,  -72px,0);}
	 69% {-webkit-transform:translate3d( -128px,  -72px,0);}
	 70% {-webkit-transform:translate3d( -144x,   -72px,0);}
	 71% {-webkit-transform:translate3d(   0px,   -84px,0);}
	 72% {-webkit-transform:translate3d(  -16px,  -84px,0);}
	 73% {-webkit-transform:translate3d(  -32px,  -84px,0);}
	 74% {-webkit-transform:translate3d(  -48px,  -84px,0);}
	 75% {-webkit-transform:translate3d(  -64px,  -84px,0);}
	 76% {-webkit-transform:translate3d(  -80px,  -84px,0);}
	 77% {-webkit-transform:translate3d(  -96px,  -84px,0);}
	 78% {-webkit-transform:translate3d( -112px,  -84px,0);}
	 79% {-webkit-transform:translate3d( -128px,  -84px,0);}
	 80% {-webkit-transform:translate3d( -144x,   -84px,0);}
	 81% {-webkit-transform:translate3d(   0px,   -96px,0);}
	 82% {-webkit-transform:translate3d(  -16px,  -96px,0);}
	 83% {-webkit-transform:translate3d(  -32px,  -96px,0);}
	 84% {-webkit-transform:translate3d(  -48px,  -96px,0);}
	 85% {-webkit-transform:translate3d(  -64px,  -96px,0);}
	 86% {-webkit-transform:translate3d(  -80px,  -96px,0);}
	 87% {-webkit-transform:translate3d(  -96px,  -96px,0);}
	 88% {-webkit-transform:translate3d( -112px,  -96px,0);}
	 89% {-webkit-transform:translate3d( -128px,  -96px,0);}
	 90% {-webkit-transform:translate3d( -144x,   -96px,0);}
	 91% {-webkit-transform:translate3d(   0px,  -108px,0);}
	 92% {-webkit-transform:translate3d(  -16px, -108px,0);}
	 93% {-webkit-transform:translate3d(  -32px, -108px,0);}
	 94% {-webkit-transform:translate3d(  -48px, -108px,0);}
	 95% {-webkit-transform:translate3d(  -64px, -108px,0);}
	 96% {-webkit-transform:translate3d(  -80px, -108px,0);}
	 97% {-webkit-transform:translate3d(  -96px, -108px,0);}
	 98% {-webkit-transform:translate3d( -112px, -108px,0);}
	 99% {-webkit-transform:translate3d( -128px, -108px,0);}
	100% {-webkit-transform:translate3d( -144x,  -108px,0);}
}
@-o-keyfra-o-mes animTranslateUV{
	  0% {-o-transform:translate3d(   0px,     0px,0);}
	  1% {-o-transform:translate3d(   0px,     0px,0);}
	  2% {-o-transform:translate3d(  -16px,    0px,0);}
	  3% {-o-transform:translate3d(  -32px,    0px,0);}
	  4% {-o-transform:translate3d(  -48px,    0px,0);}
	  5% {-o-transform:translate3d(  -64px,    0px,0);}
	  6% {-o-transform:translate3d(  -80px,    0px,0);}
	  7% {-o-transform:translate3d(  -96px,    0px,0);}
	  8% {-o-transform:translate3d( -112px,    0px,0);}
	  9% {-o-transform:translate3d( -128px,    0px,0);}
	 10% {-o-transform:translate3d( -144x,     0px,0);}
	 11% {-o-transform:translate3d(   0px,   -12px,0);}
	 12% {-o-transform:translate3d(  -16px,  -12px,0);}
	 13% {-o-transform:translate3d(  -32px,  -12px,0);}
	 14% {-o-transform:translate3d(  -48px,  -12px,0);}
	 15% {-o-transform:translate3d(  -64px,  -12px,0);}
	 16% {-o-transform:translate3d(  -80px,  -12px,0);}
	 17% {-o-transform:translate3d(  -96px,  -12px,0);}
	 18% {-o-transform:translate3d( -112px,  -12px,0);}
	 19% {-o-transform:translate3d( -128px,  -12px,0);}
	 20% {-o-transform:translate3d( -144x,   -12px,0);}
	 21% {-o-transform:translate3d(   0px,   -24px,0);}
	 22% {-o-transform:translate3d(  -16px,  -24px,0);}
	 23% {-o-transform:translate3d(  -32px,  -24px,0);}
	 24% {-o-transform:translate3d(  -48px,  -24px,0);}
	 25% {-o-transform:translate3d(  -64px,  -24px,0);}
	 26% {-o-transform:translate3d(  -80px,  -24px,0);}
	 27% {-o-transform:translate3d(  -96px,  -24px,0);}
	 28% {-o-transform:translate3d( -112px,  -24px,0);}
	 29% {-o-transform:translate3d( -128px,  -24px,0);}
	 30% {-o-transform:translate3d( -144x,   -24px,0);}
	 31% {-o-transform:translate3d(   0px,   -36px,0);}
	 32% {-o-transform:translate3d(  -16px,  -36px,0);}
	 33% {-o-transform:translate3d(  -32px,  -36px,0);}
	 34% {-o-transform:translate3d(  -48px,  -36px,0);}
	 35% {-o-transform:translate3d(  -64px,  -36px,0);}
	 36% {-o-transform:translate3d(  -80px,  -36px,0);}
	 37% {-o-transform:translate3d(  -96px,  -36px,0);}
	 38% {-o-transform:translate3d( -112px,  -36px,0);}
	 39% {-o-transform:translate3d( -128px,  -36px,0);}
	 40% {-o-transform:translate3d( -144x,   -36px,0);}
	 41% {-o-transform:translate3d(   0px,   -48px,0);}
	 42% {-o-transform:translate3d(  -16px,  -48px,0);}
	 43% {-o-transform:translate3d(  -32px,  -48px,0);}
	 44% {-o-transform:translate3d(  -48px,  -48px,0);}
	 45% {-o-transform:translate3d(  -64px,  -48px,0);}
	 46% {-o-transform:translate3d(  -80px,  -48px,0);}
	 47% {-o-transform:translate3d(  -96px,  -48px,0);}
	 48% {-o-transform:translate3d( -112px,  -48px,0);}
	 49% {-o-transform:translate3d( -128px,  -48px,0);}
	 50% {-o-transform:translate3d( -144x,   -48px,0);}
	 51% {-o-transform:translate3d(   0px,   -60px,0);}
	 52% {-o-transform:translate3d(  -16px,  -60px,0);}
	 53% {-o-transform:translate3d(  -32px,  -60px,0);}
	 54% {-o-transform:translate3d(  -48px,  -60px,0);}
	 55% {-o-transform:translate3d(  -64px,  -60px,0);}
	 56% {-o-transform:translate3d(  -80px,  -60px,0);}
	 57% {-o-transform:translate3d(  -96px,  -60px,0);}
	 58% {-o-transform:translate3d( -112px,  -60px,0);}
	 59% {-o-transform:translate3d( -128px,  -60px,0);}
	 60% {-o-transform:translate3d( -144x,   -60px,0);}
	 61% {-o-transform:translate3d(   0px,   -72px,0);}
	 62% {-o-transform:translate3d(  -16px,  -72px,0);}
	 63% {-o-transform:translate3d(  -32px,  -72px,0);}
	 64% {-o-transform:translate3d(  -48px,  -72px,0);}
	 65% {-o-transform:translate3d(  -64px,  -72px,0);}
	 66% {-o-transform:translate3d(  -80px,  -72px,0);}
	 67% {-o-transform:translate3d(  -96px,  -72px,0);}
	 68% {-o-transform:translate3d( -112px,  -72px,0);}
	 69% {-o-transform:translate3d( -128px,  -72px,0);}
	 70% {-o-transform:translate3d( -144x,   -72px,0);}
	 71% {-o-transform:translate3d(   0px,   -84px,0);}
	 72% {-o-transform:translate3d(  -16px,  -84px,0);}
	 73% {-o-transform:translate3d(  -32px,  -84px,0);}
	 74% {-o-transform:translate3d(  -48px,  -84px,0);}
	 75% {-o-transform:translate3d(  -64px,  -84px,0);}
	 76% {-o-transform:translate3d(  -80px,  -84px,0);}
	 77% {-o-transform:translate3d(  -96px,  -84px,0);}
	 78% {-o-transform:translate3d( -112px,  -84px,0);}
	 79% {-o-transform:translate3d( -128px,  -84px,0);}
	 80% {-o-transform:translate3d( -144x,   -84px,0);}
	 81% {-o-transform:translate3d(   0px,   -96px,0);}
	 82% {-o-transform:translate3d(  -16px,  -96px,0);}
	 83% {-o-transform:translate3d(  -32px,  -96px,0);}
	 84% {-o-transform:translate3d(  -48px,  -96px,0);}
	 85% {-o-transform:translate3d(  -64px,  -96px,0);}
	 86% {-o-transform:translate3d(  -80px,  -96px,0);}
	 87% {-o-transform:translate3d(  -96px,  -96px,0);}
	 88% {-o-transform:translate3d( -112px,  -96px,0);}
	 89% {-o-transform:translate3d( -128px,  -96px,0);}
	 90% {-o-transform:translate3d( -144x,   -96px,0);}
	 91% {-o-transform:translate3d(   0px,  -108px,0);}
	 92% {-o-transform:translate3d(  -16px, -108px,0);}
	 93% {-o-transform:translate3d(  -32px, -108px,0);}
	 94% {-o-transform:translate3d(  -48px, -108px,0);}
	 95% {-o-transform:translate3d(  -64px, -108px,0);}
	 96% {-o-transform:translate3d(  -80px, -108px,0);}
	 97% {-o-transform:translate3d(  -96px, -108px,0);}
	 98% {-o-transform:translate3d( -112px, -108px,0);}
	 99% {-o-transform:translate3d( -128px, -108px,0);}
	100% {-o-transform:translate3d( -144x,  -108px,0);}
}

/**
 * matrix anime image
 */
img.animMatrixUV{
	/*IE*/
	-ms-animation-name: animMatrixUV;
	-ms-animation-delay: 0s;
	-ms-animation-duration: 3300ms;
	-ms-animation-timing-function: step-end;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction : normal;
	-ms-transform-origin: left top;
	/*gecko*/
	-moz-animation-name: animMatrixUV;
	-moz-animation-delay: 0s;
	-moz-animation-duration: 3300ms;
	-moz-animation-timing-function: step-end;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction : normal;
	-moz-transform-origin: left top;
	/*webkit*/
	-webkit-animation-name: animMatrixUV;
	-webkit-animation-delay: 0s;
	-webkit-animation-duration: 3300ms;
	-webkit-animation-timing-function: step-end;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction : normal;
	-webkit-transform-origin: left top;
	/*opera*/
	-o-animation-name: animMatrixUV;
	-o-animation-delay: 0s;
	-o-animation-duration: 3300ms;
	-o-animation-timing-function: step-end;
	-o-animation-iteration-count: infinite;
	-o-animation-direction : normal;
	-o-transform-origin: left top;
}
@-ms-keyframes animMatrixUV {
	  0% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0,     0, 0, 1);}
	  1% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0,     0, 0, 1);}
	  2% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800,     0, 0, 1);}
	  3% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600,     0, 0, 1);}
	  4% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400,     0, 0, 1);}
	  5% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200,     0, 0, 1);}
	  6% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000,     0, 0, 1);}
	  7% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800,     0, 0, 1);}
	  8% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600,     0, 0, 1);}
	  9% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400,     0, 0, 1);}
	 10% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200,     0, 0, 1);}
	 11% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0,  -600, 0, 1);}
	 12% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800,  -600, 0, 1);}
	 13% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600,  -600, 0, 1);}
	 14% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400,  -600, 0, 1);}
	 15% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200,  -600, 0, 1);}
	 16% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000,  -600, 0, 1);}
	 17% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800,  -600, 0, 1);}
	 18% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600,  -600, 0, 1);}
	 19% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400,  -600, 0, 1);}
	 20% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200,  -600, 0, 1);}
	 21% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -1200, 0, 1);}
	 22% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -1200, 0, 1);}
	 23% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -1200, 0, 1);}
	 24% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -1200, 0, 1);}
	 25% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -1200, 0, 1);}
	 26% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -1200, 0, 1);}
	 27% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -1200, 0, 1);}
	 28% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -1200, 0, 1);}
	 29% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -1200, 0, 1);}
	 30% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -1200, 0, 1);}
	 31% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -1800, 0, 1);}
	 32% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -1800, 0, 1);}
	 33% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -1800, 0, 1);}
	 34% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -1800, 0, 1);}
	 35% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -1800, 0, 1);}
	 36% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -1800, 0, 1);}
	 37% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -1800, 0, 1);}
	 38% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -1800, 0, 1);}
	 39% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -1800, 0, 1);}
	 40% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -1800, 0, 1);}
	 41% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -2400, 0, 1);}
	 42% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -2400, 0, 1);}
	 43% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -2400, 0, 1);}
	 44% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -2400, 0, 1);}
	 45% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -2400, 0, 1);}
	 46% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -2400, 0, 1);}
	 47% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -2400, 0, 1);}
	 48% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -2400, 0, 1);}
	 49% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -2400, 0, 1);}
	 50% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -2400, 0, 1);}
	 51% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -3000, 0, 1);}
	 52% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -3000, 0, 1);}
	 53% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -3000, 0, 1);}
	 54% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -3000, 0, 1);}
	 55% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -3000, 0, 1);}
	 56% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -3000, 0, 1);}
	 57% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -3000, 0, 1);}
	 58% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -3000, 0, 1);}
	 59% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -3000, 0, 1);}
	 60% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -3000, 0, 1);}
	 61% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -3600, 0, 1);}
	 62% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -3600, 0, 1);}
	 63% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -3600, 0, 1);}
	 64% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -3600, 0, 1);}
	 65% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -3600, 0, 1);}
	 66% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -3600, 0, 1);}
	 67% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -3600, 0, 1);}
	 68% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -3600, 0, 1);}
	 69% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -3600, 0, 1);}
	 70% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -3600, 0, 1);}
	 71% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -4200, 0, 1);}
	 72% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -4200, 0, 1);}
	 73% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -4200, 0, 1);}
	 74% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -4200, 0, 1);}
	 75% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -4200, 0, 1);}
	 76% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -4200, 0, 1);}
	 77% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -4200, 0, 1);}
	 78% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -4200, 0, 1);}
	 79% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -4200, 0, 1);}
	 80% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -4200, 0, 1);}
	 81% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -4800, 0, 1);}
	 82% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -4800, 0, 1);}
	 83% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -4800, 0, 1);}
	 84% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -4800, 0, 1);}
	 85% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -4800, 0, 1);}
	 86% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -4800, 0, 1);}
	 87% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -4800, 0, 1);}
	 88% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -4800, 0, 1);}
	 89% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -4800, 0, 1);}
	 90% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -4800, 0, 1);}
	 91% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -5400, 0, 1);}
	 92% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -5400, 0, 1);}
	 93% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -5400, 0, 1);}
	 94% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -5400, 0, 1);}
	 95% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -5400, 0, 1);}
	 96% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -5400, 0, 1);}
	 97% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -5400, 0, 1);}
	 98% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -5400, 0, 1);}
	 99% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -5400, 0, 1);}
	100% {-ms-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -5400, 0, 1);}
}
@-moz-keyframes animMatrixUV {
	  0% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0,     0, 0, 1);}
	  1% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0,     0, 0, 1);}
	  2% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800,     0, 0, 1);}
	  3% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600,     0, 0, 1);}
	  4% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400,     0, 0, 1);}
	  5% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200,     0, 0, 1);}
	  6% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000,     0, 0, 1);}
	  7% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800,     0, 0, 1);}
	  8% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600,     0, 0, 1);}
	  9% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400,     0, 0, 1);}
	 10% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200,     0, 0, 1);}
	 11% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0,  -600, 0, 1);}
	 12% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800,  -600, 0, 1);}
	 13% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600,  -600, 0, 1);}
	 14% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400,  -600, 0, 1);}
	 15% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200,  -600, 0, 1);}
	 16% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000,  -600, 0, 1);}
	 17% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800,  -600, 0, 1);}
	 18% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600,  -600, 0, 1);}
	 19% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400,  -600, 0, 1);}
	 20% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200,  -600, 0, 1);}
	 21% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -1200, 0, 1);}
	 22% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -1200, 0, 1);}
	 23% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -1200, 0, 1);}
	 24% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -1200, 0, 1);}
	 25% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -1200, 0, 1);}
	 26% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -1200, 0, 1);}
	 27% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -1200, 0, 1);}
	 28% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -1200, 0, 1);}
	 29% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -1200, 0, 1);}
	 30% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -1200, 0, 1);}
	 31% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -1800, 0, 1);}
	 32% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -1800, 0, 1);}
	 33% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -1800, 0, 1);}
	 34% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -1800, 0, 1);}
	 35% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -1800, 0, 1);}
	 36% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -1800, 0, 1);}
	 37% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -1800, 0, 1);}
	 38% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -1800, 0, 1);}
	 39% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -1800, 0, 1);}
	 40% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -1800, 0, 1);}
	 41% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -2400, 0, 1);}
	 42% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -2400, 0, 1);}
	 43% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -2400, 0, 1);}
	 44% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -2400, 0, 1);}
	 45% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -2400, 0, 1);}
	 46% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -2400, 0, 1);}
	 47% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -2400, 0, 1);}
	 48% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -2400, 0, 1);}
	 49% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -2400, 0, 1);}
	 50% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -2400, 0, 1);}
	 51% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -3000, 0, 1);}
	 52% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -3000, 0, 1);}
	 53% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -3000, 0, 1);}
	 54% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -3000, 0, 1);}
	 55% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -3000, 0, 1);}
	 56% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -3000, 0, 1);}
	 57% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -3000, 0, 1);}
	 58% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -3000, 0, 1);}
	 59% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -3000, 0, 1);}
	 60% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -3000, 0, 1);}
	 61% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -3600, 0, 1);}
	 62% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -3600, 0, 1);}
	 63% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -3600, 0, 1);}
	 64% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -3600, 0, 1);}
	 65% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -3600, 0, 1);}
	 66% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -3600, 0, 1);}
	 67% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -3600, 0, 1);}
	 68% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -3600, 0, 1);}
	 69% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -3600, 0, 1);}
	 70% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -3600, 0, 1);}
	 71% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -4200, 0, 1);}
	 72% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -4200, 0, 1);}
	 73% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -4200, 0, 1);}
	 74% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -4200, 0, 1);}
	 75% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -4200, 0, 1);}
	 76% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -4200, 0, 1);}
	 77% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -4200, 0, 1);}
	 78% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -4200, 0, 1);}
	 79% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -4200, 0, 1);}
	 80% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -4200, 0, 1);}
	 81% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -4800, 0, 1);}
	 82% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -4800, 0, 1);}
	 83% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -4800, 0, 1);}
	 84% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -4800, 0, 1);}
	 85% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -4800, 0, 1);}
	 86% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -4800, 0, 1);}
	 87% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -4800, 0, 1);}
	 88% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -4800, 0, 1);}
	 89% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -4800, 0, 1);}
	 90% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -4800, 0, 1);}
	 91% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -5400, 0, 1);}
	 92% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -5400, 0, 1);}
	 93% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -5400, 0, 1);}
	 94% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -5400, 0, 1);}
	 95% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -5400, 0, 1);}
	 96% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -5400, 0, 1);}
	 97% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -5400, 0, 1);}
	 98% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -5400, 0, 1);}
	 99% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -5400, 0, 1);}
	100% {-moz-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -5400, 0, 1);}
}
@-webkit-keyframes animMatrixUV {
	  0% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0,     0, 0, 1);}
	  1% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0,     0, 0, 1);}
	  2% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800,     0, 0, 1);}
	  3% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600,     0, 0, 1);}
	  4% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400,     0, 0, 1);}
	  5% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200,     0, 0, 1);}
	  6% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000,     0, 0, 1);}
	  7% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800,     0, 0, 1);}
	  8% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600,     0, 0, 1);}
	  9% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400,     0, 0, 1);}
	 10% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200,     0, 0, 1);}
	 11% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0,  -600, 0, 1);}
	 12% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800,  -600, 0, 1);}
	 13% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600,  -600, 0, 1);}
	 14% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400,  -600, 0, 1);}
	 15% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200,  -600, 0, 1);}
	 16% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000,  -600, 0, 1);}
	 17% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800,  -600, 0, 1);}
	 18% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600,  -600, 0, 1);}
	 19% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400,  -600, 0, 1);}
	 20% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200,  -600, 0, 1);}
	 21% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -1200, 0, 1);}
	 22% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -1200, 0, 1);}
	 23% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -1200, 0, 1);}
	 24% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -1200, 0, 1);}
	 25% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -1200, 0, 1);}
	 26% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -1200, 0, 1);}
	 27% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -1200, 0, 1);}
	 28% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -1200, 0, 1);}
	 29% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -1200, 0, 1);}
	 30% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -1200, 0, 1);}
	 31% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -1800, 0, 1);}
	 32% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -1800, 0, 1);}
	 33% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -1800, 0, 1);}
	 34% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -1800, 0, 1);}
	 35% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -1800, 0, 1);}
	 36% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -1800, 0, 1);}
	 37% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -1800, 0, 1);}
	 38% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -1800, 0, 1);}
	 39% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -1800, 0, 1);}
	 40% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -1800, 0, 1);}
	 41% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -2400, 0, 1);}
	 42% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -2400, 0, 1);}
	 43% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -2400, 0, 1);}
	 44% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -2400, 0, 1);}
	 45% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -2400, 0, 1);}
	 46% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -2400, 0, 1);}
	 47% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -2400, 0, 1);}
	 48% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -2400, 0, 1);}
	 49% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -2400, 0, 1);}
	 50% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -2400, 0, 1);}
	 51% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -3000, 0, 1);}
	 52% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -3000, 0, 1);}
	 53% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -3000, 0, 1);}
	 54% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -3000, 0, 1);}
	 55% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -3000, 0, 1);}
	 56% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -3000, 0, 1);}
	 57% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -3000, 0, 1);}
	 58% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -3000, 0, 1);}
	 59% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -3000, 0, 1);}
	 60% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -3000, 0, 1);}
	 61% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -3600, 0, 1);}
	 62% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -3600, 0, 1);}
	 63% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -3600, 0, 1);}
	 64% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -3600, 0, 1);}
	 65% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -3600, 0, 1);}
	 66% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -3600, 0, 1);}
	 67% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -3600, 0, 1);}
	 68% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -3600, 0, 1);}
	 69% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -3600, 0, 1);}
	 70% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -3600, 0, 1);}
	 71% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -4200, 0, 1);}
	 72% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -4200, 0, 1);}
	 73% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -4200, 0, 1);}
	 74% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -4200, 0, 1);}
	 75% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -4200, 0, 1);}
	 76% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -4200, 0, 1);}
	 77% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -4200, 0, 1);}
	 78% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -4200, 0, 1);}
	 79% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -4200, 0, 1);}
	 80% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -4200, 0, 1);}
	 81% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -4800, 0, 1);}
	 82% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -4800, 0, 1);}
	 83% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -4800, 0, 1);}
	 84% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -4800, 0, 1);}
	 85% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -4800, 0, 1);}
	 86% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -4800, 0, 1);}
	 87% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -4800, 0, 1);}
	 88% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -4800, 0, 1);}
	 89% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -4800, 0, 1);}
	 90% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -4800, 0, 1);}
	 91% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -5400, 0, 1);}
	 92% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -5400, 0, 1);}
	 93% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -5400, 0, 1);}
	 94% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -5400, 0, 1);}
	 95% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -5400, 0, 1);}
	 96% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -5400, 0, 1);}
	 97% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -5400, 0, 1);}
	 98% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -5400, 0, 1);}
	 99% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -5400, 0, 1);}
	100% {-webkit-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -5400, 0, 1);}
}
@-o-keyframes animMatrixUV {
	  0% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0,     0, 0, 1);}
	  1% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0,     0, 0, 1);}
	  2% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800,     0, 0, 1);}
	  3% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600,     0, 0, 1);}
	  4% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400,     0, 0, 1);}
	  5% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200,     0, 0, 1);}
	  6% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000,     0, 0, 1);}
	  7% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800,     0, 0, 1);}
	  8% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600,     0, 0, 1);}
	  9% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400,     0, 0, 1);}
	 10% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200,     0, 0, 1);}
	 11% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0,  -600, 0, 1);}
	 12% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800,  -600, 0, 1);}
	 13% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600,  -600, 0, 1);}
	 14% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400,  -600, 0, 1);}
	 15% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200,  -600, 0, 1);}
	 16% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000,  -600, 0, 1);}
	 17% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800,  -600, 0, 1);}
	 18% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600,  -600, 0, 1);}
	 19% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400,  -600, 0, 1);}
	 20% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200,  -600, 0, 1);}
	 21% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -1200, 0, 1);}
	 22% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -1200, 0, 1);}
	 23% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -1200, 0, 1);}
	 24% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -1200, 0, 1);}
	 25% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -1200, 0, 1);}
	 26% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -1200, 0, 1);}
	 27% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -1200, 0, 1);}
	 28% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -1200, 0, 1);}
	 29% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -1200, 0, 1);}
	 30% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -1200, 0, 1);}
	 31% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -1800, 0, 1);}
	 32% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -1800, 0, 1);}
	 33% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -1800, 0, 1);}
	 34% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -1800, 0, 1);}
	 35% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -1800, 0, 1);}
	 36% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -1800, 0, 1);}
	 37% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -1800, 0, 1);}
	 38% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -1800, 0, 1);}
	 39% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -1800, 0, 1);}
	 40% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -1800, 0, 1);}
	 41% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -2400, 0, 1);}
	 42% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -2400, 0, 1);}
	 43% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -2400, 0, 1);}
	 44% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -2400, 0, 1);}
	 45% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -2400, 0, 1);}
	 46% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -2400, 0, 1);}
	 47% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -2400, 0, 1);}
	 48% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -2400, 0, 1);}
	 49% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -2400, 0, 1);}
	 50% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -2400, 0, 1);}
	 51% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -3000, 0, 1);}
	 52% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -3000, 0, 1);}
	 53% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -3000, 0, 1);}
	 54% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -3000, 0, 1);}
	 55% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -3000, 0, 1);}
	 56% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -3000, 0, 1);}
	 57% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -3000, 0, 1);}
	 58% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -3000, 0, 1);}
	 59% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -3000, 0, 1);}
	 60% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -3000, 0, 1);}
	 61% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -3600, 0, 1);}
	 62% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -3600, 0, 1);}
	 63% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -3600, 0, 1);}
	 64% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -3600, 0, 1);}
	 65% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -3600, 0, 1);}
	 66% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -3600, 0, 1);}
	 67% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -3600, 0, 1);}
	 68% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -3600, 0, 1);}
	 69% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -3600, 0, 1);}
	 70% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -3600, 0, 1);}
	 71% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -4200, 0, 1);}
	 72% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -4200, 0, 1);}
	 73% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -4200, 0, 1);}
	 74% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -4200, 0, 1);}
	 75% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -4200, 0, 1);}
	 76% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -4200, 0, 1);}
	 77% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -4200, 0, 1);}
	 78% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -4200, 0, 1);}
	 79% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -4200, 0, 1);}
	 80% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -4200, 0, 1);}
	 81% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -4800, 0, 1);}
	 82% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -4800, 0, 1);}
	 83% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -4800, 0, 1);}
	 84% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -4800, 0, 1);}
	 85% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -4800, 0, 1);}
	 86% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -4800, 0, 1);}
	 87% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -4800, 0, 1);}
	 88% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -4800, 0, 1);}
	 89% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -4800, 0, 1);}
	 90% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -4800, 0, 1);}
	 91% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,     0, -5400, 0, 1);}
	 92% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0,  -800, -5400, 0, 1);}
	 93% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -1600, -5400, 0, 1);}
	 94% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -2400, -5400, 0, 1);}
	 95% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -3200, -5400, 0, 1);}
	 96% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4000, -5400, 0, 1);}
	 97% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -4800, -5400, 0, 1);}
	 98% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -5600, -5400, 0, 1);}
	 99% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -6400, -5400, 0, 1);}
	100% {-o-transform: matrix3d(50, 0, 0, 0,0, 50, 0, 0,0, 0, 1, 0, -7200, -5400, 0, 1);}
}
